@using prjRGsystem.Models.DbModels;
@model OutMoney
<script type="text/javascript">
    $(function () {
        //儲存
        $('#save').click(function () {
            let message = '';
            let id = $('#id').val();
            let item = $('#item').val();
            let itemMoney = $('#itemMoney').val();
          

            let formData = new FormData();
            formData.append("id", id);
            formData.append("item", item);
            formData.append("itemMoney", itemMoney);
        
            if (item == '')
                message += "請輸入項目\r\n";
            if (itemMoney == '')
                message += "請輸入金額\r\n";
           
            if (message.length > 0) {
                alert(message);
                retuen;
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save", "OutMoney", new { Area = "Admin" })',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    result = JSON.parse(result);
                    alert(result.message);
                    if (result.success) {
                        window.location.href = '@Url.Action("Index", "Dashboard", new { Area = "Admin" })';
                    }
                }
            });
        });
    });
</script>
<div class="card">
    <div class="card-body">
        <h4>材料維護</h4>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        <input type="hidden" id="id" value="@(Model.id)" />
                        <input type="text" class="form-control" id="item" placeholder="@Html.DisplayNameFor(m => m.item)" value="@(Model.item)">
                        @Html.LabelFor(m => m.item)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemMoney" placeholder="@Html.DisplayNameFor(m => m.itemMoney)" value="@(Model.itemMoney)">
                        @Html.LabelFor(m => m.itemMoney)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="d-md-flex align-items-center mt-3">
                        <div class="ms-auto mt-3 mt-md-0">
                            <button type="button" class="btn btn-info font-weight-medium rounded-pill px-4" id="save">
                                <div class="d-flex align-items-center">
                                    送出
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>