@using prjRGsystem.Models.DbModels;
@model List<Member>


<script type="text/javascript">
    $(function () {
        //刪除
        $("button[name='btnDelete']").click(function () {
            let memberID = $(this).attr('memberID');

            if (confirm("是否確定刪除")) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Removed","MaintainClient",new{Area="Admin"})',
                    data: { id: memberID },
                    success: function (result) {
                        result = JSON.parse(result);
                        if (result.success) {
                            alert(result.message);
                        } else {
                            alert(result.message);
                        }
                        window.location.href = '@Url.Action("Index","MaintainClient",new{Area="Admin"})';
                    }
                });
            }
        });

    });
    function nameClick(id) {
        window.location.href = "@Url.Action("Edit", "MaintainClient", new { Area = "Admin"})" + "?id=" + id;
    }

</script>
<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div>
                    <a class="btn waves-effect waves-light btn-info" href="@Url.Action("Edit", "MaintainClient", new { Area = "Admin",id=0})">新增</a>
                </div>
                <div class="month-table">
                    <div class="table-responsive mt-3">
                        <table class="table stylish-table v-middle mb-0 no-wrap" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th class="border-0 text-muted fw-normal">項次</th>
                                    <th class="border-0 text-muted fw-normal">姓名</th>
                                    <th class="border-0 text-muted fw-normal">電話</th>
                                    <th class="border-0 text-muted fw-normal">功能</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int rowindex = 0;
                                    foreach (Member member in Model)
                                    {
                                        rowindex++;
                                        <tr>
                                            <td>@(rowindex)</td>
                                            <td><label id="memberName" onclick="nameClick(@(member.id));">@(member.name)</label></td>
                                            <td>@(member.phoneNumber)</td>
                                            <td>
                                                <a class="btn waves-effect waves-light btn-info" href="@Url.Action("Edit", "MaintainClient", new { Area = "Admin",id=member.id})">修改</a>
                                                <button class="btn waves-effect waves-light btn-danger" name="btnDelete" memberID="@(member.id)" >刪除</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Row -->
